{% extends 'base.html' %}

{% block content %}
<div class="page-header">
    Prüfungs Uhr
    <a href="{{ url_for('main_page') }}" type=button class="btn btn.primary pull-right">Reset</a>
</div>
<div class="jumbotron float-md-center">
    <div>{{ exam_name }}</div>
    <div>Beginn: {{ exam_starttime }}</div>
    <div>Ende: {{ exam_endtime }}</div>
    <div id="time">Uhrzeit</div>
</div>
{% endblock %}

<script>
    function startTime()
    {
    var today=new Date();
    var h=today.getHours();
    var m=today.getMinutes();
    var s=today.getSeconds();
    // add a zero in front of numbers<10
    m=checkTime(m);
    s=checkTime(s);
    document.getElementById('txt').innerHTML=h+":"+m+":"+s;
    t=setTimeout(function(){startTime()},500);
    }
    
    function checkTime(i)
    {
    if (i<10)
      {
      i="0" + i;
      }
    return i;
    }
</script>