{% extends 'base.html' %} {% block content %}
<div class="page-header">
    Prüfungs Uhr
    <a href="{{ url_for('main_page') }}" type=button class="btn btn.primary pull-right">Reset</a>
</div>
<div id="time_field" class="jumbotron">
    <div id="exam_title"><div>{{ exam_name }}</div></div>
    <div id="start_time">Beginn: {{ exam_starttime[:-3] }}</div>
    <div id="end_time">Ende: {{ exam_endtime[:-3] }}</div>
    <div id="live_clock">Uhrzeit</div>
    <div id="exam_info">{{ exam_info }}</div>
    {% if show_remaining %}
    <div id="text_time_remaining">Verbleibende Bearbeitungszeit: <br>
        <span id="time_remaining"></span>
    </div>
    {% endif %}
</div>
<!-- The actual snackbar -->
<div id="snackbar">F11 Taste drücken für Vollbild</div>
<canvas id="confetti-canvas" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; pointer-events: none;"></canvas>
<script>
    window.appConfig = {
        end_time: '{{ exam_endtime }}',
        redirect_url: "{{ url_for('exam_over') }}",
        show_seconds: '{{ show_seconds }}',
        show_remaining: '{{ show_remaining }}'
    }
</script>
<script>
$(document).ready(function () {
    resize_to_fit();
});

function resize_to_fit(){
    var fontsize = $('div#exam_title div').css('font-size');
    $('div#exam_title div').css('fontSize', parseFloat(fontsize) - 1);
    console.log(fontsize);

    if($('div#exam_title div').height() >= $('div#exam_title').height()){
        resize_to_fit();
    }
}
</script>
<script src={{ url_for( 'static', filename='js/remaining.js' ) }}></script>
<script src={{ url_for( 'static', filename='js/time.js' ) }}></script>
<script src={{ url_for( 'static', filename='js/snackbar.js' ) }}></script>
<script src={{ url_for( 'static', filename='js/confetti.js' ) }}></script>
{% endblock %}